@font-face {
  font-family: Chava;
  src: url(./fonts/Chava-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

@font-face {
  font-family: StarseedPro;
  src: url(./fonts/StarseedPro-Regular.woff2) format('woff2');
  font-weight: 400;
  font-style: normal;
  font-display: fallback;
}

.app {
    width: 100%;
    height: 100vh;

    font-family: Chava, Helvetica, sans-serif;
}
.screen{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: StarseedPro ;
}

.button{
    min-width: 200px;
    height: 70px;

    margin-top: 10px;

    background-color: #fedd14;
    border: none;

    font-family: Chava;
    font-size: 20px;

    box-shadow: 5px 5px #000;
}

@-webkit-keyframes button {
    15% {
      -webkit-transform: translateX(9px);
      transform: translateX(9px);
    }
    30% {
      -webkit-transform: translateX(-9px);
      transform: translateX(-9px);
    }
    40% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    50% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    65% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  
  @keyframes button {
    15% {
      -webkit-transform: translateX(9px);
      transform: translateX(9px);
    }
    30% {
      -webkit-transform: translateX(-9px);
      transform: translateX(-9px);
    }
    40% {
      -webkit-transform: translateX(6px);
      transform: translateX(6px);
    }
    50% {
      -webkit-transform: translateX(-6px);
      transform: translateX(-6px);
    }
    65% {
      -webkit-transform: translateX(3px);
      transform: translateX(3px);
    }
    100% {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
  

.button:hover{
    cursor: pointer;
    color: #fff;
    background-color: #e5ac21;
    -webkit-animation: button 0.6s ease;
    animation: button 0.6s ease;
     -webkit-animation-iteration-count: 1;
     animation-iteration-count: 1;
}

.scissors-button:hover{
    background-image: url(./img/left-cut.png);
    background-size: cover;    
}
.stone-button:hover{
    background-image: url(./img/left-stone.png);
    background-size: cover;
}
.papper-button:hover{
    background-image: url(./img/left-list.png);
    background-size: cover;
}

.fail-screen,
.win-screen,
.startGame-screen,
.login-screen {
  width: 100%;
  height: 100vh;
}
.lobby-button,
.play-button,
.startGame-button,
.login-button {
  min-width: 200px;
  height: 70px;
  margin-top: 10px;
  background-color: #fedd14;
  border: none;
  font-size: 20px;
  font-weight: 400;
  font-family: Chava;
}
.result-image {
  width: 70px;
  height: 70px;
}

.authorization-block {
  width: 100%;
  height: 100vh;
  box-sizing: border-box;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

  background-color: #fff;
}

.startGame-title,
.login-title {
  display: flex;
  align-items: center;
  font-family: StarseedPro;
  color: #000;
  font-size: 24px;
}

.startGame-paragraph {
  min-width: 200px;
  display: flex;
  align-items: center;
  padding: 20px;
  text-align: justify;

  font-family: Chava;
  color: #000;
  font-size: 16px;
}

.startGame-button {
  width: 200px;
}

.login-input {
  margin-top: 20px;
  margin-bottom: 20px;
  border: 2px solid #000;

  font-family: Chava;
  color: #000;
  font-size: 16px;
}
.loader {
    animation: spin 1s linear infinite;
    height: 10px;
    width: 10px;
    position: absolute;
    top: 50%;
    left: 50%;
    margin: -5px;
}

.result-title {
  padding: 20px 0px;
  color: #000000;
}

.loser-text {
  font-family: StarseedPro;
  font-size: 30px;
  color: #fedd14;
}

.result-image {
  width: 100px;
  height: 100px;
}
  
@keyframes spin {
    0% {
        box-shadow:
            0px -30px #e5ac21,
            10px -30px #e5ac21,
            20px -20px #e5ac21,
            30px -10px #e5ac21,
            30px 0px #e5ac21,
            30px 10px #e5ac21,
            20px 20px #e5ac21,
            10px 30px #e5ac21,
            0px 30px transparent,
            -10px 30px transparent,
            -20px 20px transparent,
            -30px 10px transparent,
            -30px 0px transparent,
            -30px -10px transparent,
            -20px -20px transparent,
            -10px -30px transparent;
    }

    6.25% {
        box-shadow:
            0px -30px transparent,
            10px -30px #e5ac21,
            20px -20px #e5ac21,
            30px -10px #e5ac21,
            30px 0px #e5ac21,
            30px 10px #e5ac21,
            20px 20px #e5ac21,
            10px 30px #e5ac21,
            0px 30px #e5ac21,
            -10px 30px transparent,
            -20px 20px transparent,
            -30px 10px transparent,
            -30px 0px transparent,
            -30px -10px transparent,
            -20px -20px transparent,
            -10px -30px transparent;
    }

    12.5% {
        box-shadow:
            0px -30px transparent,
            10px -30px transparent,
            20px -20px #e5ac21,
            30px -10px #e5ac21,
            30px 0px #e5ac21,
            30px 10px #e5ac21,
            20px 20px #e5ac21,
            10px 30px #e5ac21,
            0px 30px #e5ac21,
            -10px 30px #e5ac21,
            -20px 20px transparent,
            -30px 10px transparent,
            -30px 0px transparent,
            -30px -10px transparent,
            -20px -20px transparent,
            -10px -30px transparent;
    }

    18.75% {
        box-shadow:
            0px -30px transparent,
            10px -30px transparent,
            20px -20px transparent,
            30px -10px #e5ac21,
            30px 0px #e5ac21,
            30px 10px #e5ac21,
            20px 20px #e5ac21,
            10px 30px #e5ac21,
            0px 30px #e5ac21,
            -10px 30px #e5ac21,
            -20px 20px #e5ac21,
            -30px 10px transparent,
            -30px 0px transparent,
            -30px -10px transparent,
            -20px -20px transparent,
            -10px -30px transparent;
    }



    25% {
        box-shadow:
            0px -30px transparent,
            10px -30px transparent,
            20px -20px transparent,
            30px -10px transparent,
            30px 0px #e5ac21,
            30px 10px #e5ac21,
            20px 20px #e5ac21,
            10px 30px #e5ac21,
            0px 30px #e5ac21,
            -10px 30px #e5ac21,
            -20px 20px #e5ac21,
            -30px 10px #e5ac21,
            -30px 0px transparent,
            -30px -10px transparent,
            -20px -20px transparent,
            -10px -30px transparent;
    }

    31.25% {
        box-shadow:
            0px -30px transparent,
            10px -30px transparent,
            20px -20px transparent,
            30px -10px transparent,
            30px 0px transparent,
            30px 10px #e5ac21,
            20px 20px #e5ac21,
            10px 30px #e5ac21,
            0px 30px #e5ac21,
            -10px 30px #e5ac21,
            -20px 20px #e5ac21,
            -30px 10px #e5ac21,
            -30px 0px #e5ac21,
            -30px -10px transparent,
            -20px -20px transparent,
            -10px -30px transparent;
    }


    37.5% {
        box-shadow:
            0px -30px transparent,
            10px -30px transparent,
            20px -20px transparent,
            30px -10px transparent,
            30px 0px transparent,
            30px 10px transparent,
            20px 20px #e5ac21,
            10px 30px #e5ac21,
            0px 30px #e5ac21,
            -10px 30px #e5ac21,
            -20px 20px #e5ac21,
            -30px 10px #e5ac21,
            -30px 0px #e5ac21,
            -30px -10px #e5ac21,
            -20px -20px transparent,
            -10px -30px transparent;
    }

    43.75% {
        box-shadow:
            0px -30px transparent,
            10px -30px transparent,
            20px -20px transparent,
            30px -10px transparent,
            30px 0px transparent,
            30px 10px transparent,
            20px 20px transparent,
            10px 30px #e5ac21,
            0px 30px #e5ac21,
            -10px 30px #e5ac21,
            -20px 20px #e5ac21,
            -30px 10px #e5ac21,
            -30px 0px #e5ac21,
            -30px -10px #e5ac21,
            -20px -20px #e5ac21,
            -10px -30px transparent;
    }
  
    50% {
        box-shadow:
            0px -30px transparent,
            10px -30px transparent,
            20px -20px transparent,
            30px -10px transparent,
            30px 0px transparent,
            30px 10px transparent,
            20px 20px transparent,
            10px 30px transparent,
            0px 30px #e5ac21,
            -10px 30px #e5ac21,
            -20px 20px #e5ac21,
            -30px 10px #e5ac21,
            -30px 0px #e5ac21,
            -30px -10px #e5ac21,
            -20px -20px #e5ac21,
            -10px -30px #e5ac21;
    }

    56.25% {
        box-shadow:
            0px -30px #e5ac21,
            10px -30px transparent,
            20px -20px transparent,
            30px -10px transparent,
            30px 0px transparent,
            30px 10px transparent,
            20px 20px transparent,
            10px 30px transparent,
            0px 30px transparent,
            -10px 30px #e5ac21,
            -20px 20px #e5ac21,
            -30px 10px #e5ac21,
            -30px 0px #e5ac21,
            -30px -10px #e5ac21,
            -20px -20px #e5ac21,
            -10px -30px #e5ac21;
    }

    62.5% {
        box-shadow:
            0px -30px #e5ac21,
            10px -30px #e5ac21,
            20px -20px transparent,
            30px -10px transparent,
            30px 0px transparent,
            30px 10px transparent,
            20px 20px transparent,
            10px 30px transparent,
            0px 30px transparent,
            -10px 30px transparent,
            -20px 20px #e5ac21,
            -30px 10px #e5ac21,
            -30px 0px #e5ac21,
            -30px -10px #e5ac21,
            -20px -20px #e5ac21,
            -10px -30px #e5ac21;
    }


    68.75% {
        box-shadow:
            0px -30px #e5ac21,
            10px -30px #e5ac21,
            20px -20px #e5ac21,
            30px -10px transparent,
            30px 0px transparent,
            30px 10px transparent,
            20px 20px transparent,
            10px 30px transparent,
            0px 30px transparent,
            -10px 30px transparent,
            -20px 20px transparent,
            -30px 10px #e5ac21,
            -30px 0px #e5ac21,
            -30px -10px #e5ac21,
            -20px -20px #e5ac21,
            -10px -30px #e5ac21;
    }

    75% {
        box-shadow:
            0px -30px #e5ac21,
            10px -30px #e5ac21,
            20px -20px #e5ac21,
            30px -10px #e5ac21,
            30px 0px transparent,
            30px 10px transparent,
            20px 20px transparent,
            10px 30px transparent,
            0px 30px transparent,
            -10px 30px transparent,
            -20px 20px transparent,
            -30px 10px transparent,
            -30px 0px #e5ac21,
            -30px -10px #e5ac21,
            -20px -20px #e5ac21,
            -10px -30px #e5ac21;
    }

    81.25% {
        box-shadow:
            0px -30px #e5ac21,
            10px -30px #e5ac21,
            20px -20px #e5ac21,
            30px -10px #e5ac21,
            30px 0px #e5ac21,
            30px 10px transparent,
            20px 20px transparent,
            10px 30px transparent,
            0px 30px transparent,
            -10px 30px transparent,
            -20px 20px transparent,
            -30px 10px transparent,
            -30px 0px transparent,
            -30px -10px #e5ac21,
            -20px -20px #e5ac21,
            -10px -30px #e5ac21;
    }


    87.5% {
        box-shadow:
            0px -30px #e5ac21,
            10px -30px #e5ac21,
            20px -20px #e5ac21,
            30px -10px #e5ac21,
            30px 0px #e5ac21,
            30px 10px #e5ac21,
            20px 20px transparent,
            10px 30px transparent,
            0px 30px transparent,
            -10px 30px transparent,
            -20px 20px transparent,
            -30px 10px transparent,
            -30px 0px transparent,
            -30px -10px transparent,
            -20px -20px #e5ac21,
            -10px -30px #e5ac21;
    }

    93.75% {
        box-shadow:
            0px -30px #e5ac21,
            10px -30px #e5ac21,
            20px -20px #e5ac21,
            30px -10px #e5ac21,
            30px 0px #e5ac21,
            30px 10px #e5ac21,
            20px 20px #e5ac21,
            10px 30px transparent,
            0px 30px transparent,
            -10px 30px transparent,
            -20px 20px transparent,
            -30px 10px transparent,
            -30px 0px transparent,
            -30px -10px transparent,
            -20px -20px transparent,
            -10px -30px #e5ac21;
    }

    100% {
        box-shadow:
            0px -30px #e5ac21,
            10px -30px #e5ac21,
            20px -20px #e5ac21,
            30px -10px #e5ac21,
            30px 0px #e5ac21,
            30px 10px #e5ac21,
            20px 20px #e5ac21,
            10px 30px #e5ac21,
            0px 30px transparent,
            -10px 30px transparent,
            -20px 20px transparent,
            -30px 10px transparent,
            -30px 0px transparent,
            -30px -10px transparent,
            -20px -20px transparent,
            -10px -30px transparent;
    }
}
